Flask==1.1.4
flask_cors
flask-talisman==0.8.1
PyJWT==2.3.0
python-jwt==3.3.2
markupsafe==2.0.1
werkzeug==1.0.1
PyMuPDF
PyPDF2==2.11.1
webcolors==1.13
requests==2.31.0
pdfplumber==0.10.3
flask_cors
scikit-image
pandas
openpyxl
torch
torchvision
charset_normalizer
colorspacious
scikit-learn
camelot-py
charset_normalizer
pdfminer.six
XlsxWriter
opencv-python
gunicorn

