Flask==1.1.4
flask-talisman==0.8.1
Flask-Cors
PyJWT==2.3.0
python-jwt==3.3.2
markupsafe==2.0.1
#werkzeug==1.0.1
werkzeug==1.0.1
PyPDF2==2.11.1
webcolors==1.13
requests==2.31.0
pdfplumber==0.10.3
pandas
Pillow
openpyxl
colorspacious
XlsxWriter
sumy
scikit-learn
camelot-py
pdfminer.six
PyMuPDF==1.23.21